* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html, body {
    max-width: 100%;
    overflow-x : hidden !important;
    background-color: rgb(230, 230, 230) !important;
}
.navbar {
    background-color: #7f0000;
    /* background: rgb(248,249,250);
    background: linear-gradient(180deg, rgba(248,249,250,1) 0%, rgba(49,140,231,1) 80%); */
    box-shadow: 0px 0px 55px rgb(55, 55, 55);
}

#home {
    min-height: 100vh;
}
#about {
    min-height: 100vh;
    background-color:rgb(35, 35, 35);
    padding-top: 70px;
    padding-bottom: 4rem;
}
#competence {
    min-height: 100vh;
}
#realisation {
    min-height: 100vh;
}

#contact {
    min-height: 100vh;
}
#home, #about, #competence, #realisation, #contact {
    padding-top: 90px;
}
.vr {
    height: 6em;
    width: 0.25em !important;
    color: #690000;
}
h1 {
    text-shadow: rgba(40, 40, 40, 0.85) 1px 0 10px;
}
.shadow-xl {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.8)
}
.img-size{
    width: 50%;
}
.btn-bordeau {
    background-color: #a81919;
}
.btn:hover{
    background-color: white !important;
    color: #a81919 !important;
}
/* ANIMATION TITRE */
.fade-in {
    opacity: 0;
    transition: opacity 3s ease-in-out;
}
.fade-in.show {
    opacity: 1;
}
/* ANIMATION PHOTO */
.slide-in {
    opacity: 0; /* Initialise l'opacité à 0 */
    transform: translateY(50px); /* Décale l'image de 50px vers le bas */
    transition: opacity 0.7s ease, transform 2s ease; /* Ajoute une transition d'opacité et de transformation */
}

.slide-in.show {
    opacity: 1; /* Lorsque la classe "show" est ajoutée, l'opacité devient 1 */
    transform: translateY(0); /* Réinitialise la transformation à sa position d'origine */
}

/* MEDIA QUERY */
@media (max-width: 1024px) {
    .img-size {
        width: 100%;
    }

    .mobile {
        padding-inline: 0.3rem !important;
    }
}



/* @keyframes scroll {
    0% { transform: translateX(60%); }
    100% { transform: translateX(-100%); }
}
.scrolling-container {
    width: 100%;
    overflow: hidden;
}
.scrolling-text {
    white-space: nowrap;
    display: inline-block;
    animation: scroll 10s linear infinite; 
}
.scrolling-text span {
    display: inline-block;
    padding-right: 40px; 
}
.scrolling-text span:last-child {
    margin-right: 0;
} */